html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {  
  background-image: url('../Images/homebg.jpg'), radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: cover, 100%;
  background-position: center, center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  padding: 20px; 
}

.time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

.date {
  letter-spacing: 0.1em;
  font-size: 24px;
}

.text {
  letter-spacing: 0.1em;
  font-size: 24px;
  padding: 20px 0 0;
}

.container {
  margin-top: 30px; 
}

#topbar {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
}