.card {
  margin-bottom: 20px;
  padding: 20px;
}
.table {
  margin-top: 10px;
  margin-bottom: 20px;
}
.staff-details {
  list-style-type: decimal;
  padding-left: 20px;
}
.staff-details li {
  margin-bottom: 10px;
}
.time-period {
  text-align: center;
}
.table th,
.table td {
  vertical-align: middle;
}
hr {
  border: 1px solid #000;
}
.btn-primary {
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
}
